ul,
li {
    margin: 0;
    padding: 0;
    list-style: none; /* 項目符號 消失 */
}

.administrator-functions-border-outside {
    display: block;
    width: 100%;
    max-width: 234px;
    text-align: center;
    border: solid $neutral-950;
    border-width: 1px 4px;
}

.administrator-functions-border-outside.btn:hover {
    border: solid $neutral-950;
    border-width: 1px 4px;
    background-color: rgba($primary, 0.8);
    color: $black-50;
}

.administrator-functions-border-outside.active {
    background-color: rgba($primary, 0.8);
    color: $black-50;
    border-color: $neutral-950;
}

.administrator-functions-border-inside {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: solid $neutral-950;
    border-width: 0px 1px;
    padding: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.administrator-functions-border-outside-signout {
    display: block;
    width: 100%;
    max-width: 234px;
    text-align: center;
    border: solid #c24747;
    border-width: 1px 4px;
    color: #c24747;
}

.administrator-functions-border-outside-signout.btn:hover {
    border: solid $neutral-950;
    border-width: 1px 4px;
    background-color: #c24747;
    color: $black-50;
}

.administrator-functions-border-inside-signout {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: solid #c24747;
    border-width: 0px 1px;
    padding: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pt-21 {
    padding-top: 21px;
}

.check-border-outside {
    border: solid $primary 4px;
}

.check-border-inside {
    border: solid $primary 1px;
}

.primary-bg-01 {
    background-color: rgba($primary, 0.1);
}

.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
}

.width-726 {
    width: 726px;
}

.btn:hover {
    background-color: rgba($primary, 0.8);
    color: $black-50;
}
