body {
  font-weight: 400;
  line-height: 1.5;
}

.km-header-bg {
  // background-image: url('../images/knowledge-bg.jpg');
  background-size: cover;
  background-position: 50% 33.333%;
  background-repeat: no-repeat;
}
