<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>appointment-management</title>
    </head>

    <!-- appointment-management.html -->
    <body style="background-image: url(../assets/images/index/nav-bg.png)">
        <%- include("./layout/nav",{login:false}) %>

        <div class="container py-80">
            <div class="row">
                <!-- administrator-functions -->
                <div class="col-3">
                    <h2 class="fs-2 fw-bold mt-32 mb-36">管理員功能</h2>
                    <ul>
                        <li class="mb-4">
                            <button
                                type="button"
                                class="administrator-functions-border-outside btn rounded-0 fs-5 py-0 p-2"
                            >
                                <div
                                    class="py-3 administrator-functions-border-inside"
                                >
                                    儀表版
                                </div>
                            </button>
                        </li>
                        <li class="mb-4">
                            <button
                                type="button"
                                class="administrator-functions-border-outside btn rounded-0 fs-5 py-0 p-2 active"
                            >
                                <div
                                    class="py-3 administrator-functions-border-inside"
                                >
                                    預約管理
                                </div>
                            </button>
                        </li>
                        <li class="mb-4">
                            <button
                                type="button"
                                class="administrator-functions-border-outside btn rounded-0 fs-5 py-0 p-2"
                            >
                                <div
                                    class="py-3 administrator-functions-border-inside"
                                >
                                    匯出資料
                                </div>
                            </button>
                        </li>
                        <li class="mb-4">
                            <button
                                type="button"
                                class="administrator-functions-border-outside btn rounded-0 fs-5 py-0 p-2"
                            >
                                <div
                                    class="py-3 administrator-functions-border-inside"
                                >
                                    教學說明
                                </div>
                            </button>
                        </li>
                        <li class="mb-4">
                            <button
                                type="button"
                                class="administrator-functions-border-outside-signout btn rounded-0 fs-5 py-0 p-2"
                            >
                                <div
                                    class="py-3 administrator-functions-border-inside-signout"
                                >
                                    登出
                                </div>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- check-reservation-record -->
                <div class="col-9">
                    <div class="pt-12 mb-40">
                        <div class="position-relative pt-21">
                            <img
                                class="position-absolute top-0"
                                src="../assets/images/index/title-deco.png"
                                alt="round-deco"
                            />
                            <h2 class="fs-2 fw-bold ps-32 mb-0">
                                查詢預約紀錄
                            </h2>
                        </div>
                    </div>
                    <div class="check-border-outside p-1">
                        <div class="check-border-inside px-72 py-48">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="width-726">
                                    <form class="position-relative">
                                        <input
                                            type="search"
                                            class="form-control ps-3 py-22 primary-bg-01 rounded-1"
                                            id="moblie-search"
                                            placeholder="年/月/日"
                                        />
                                        <img
                                            src="../assets/images/appointment-management/Vector.png"
                                            alt="Vector"
                                            class="align-bottom position-absolute top-50 end-0 translate-middle-y pe-3"
                                        />
                                    </form>
                                </div>
                                <button
                                    type="button"
                                    class="btn primary-bg-01 p-3 rounded-1"
                                >
                                    <img
                                        src="../assets/images/appointment-management/refresh.png"
                                        alt="refresh"
                                        class="align-bottom"
                                    />
                                </button>
                            </div>
                            <div
                                class="d-flex justify-content-between filter-group gap-4"
                            >
                                <div class="dropdown flex-fill">
                                    <a
                                        class="btn primary-bg-01 dropdown-toggle w-100"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        服務項目
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Another action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Something else here</a
                                            >
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown flex-fill">
                                    <a
                                        class="btn primary-bg-01 dropdown-toggle w-100"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        預約時間
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Another action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Something else here</a
                                            >
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown flex-fill">
                                    <a
                                        class="btn primary-bg-01 dropdown-toggle w-100"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        預約狀態
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Another action</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                >Something else here</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./layout/footer") %>

        <script type="module" src="../main.js"></script>
    </body>
</html>
