<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body style="background-image: url(../assets/images/index/nav-bg.png);">


  <%- include("./layout/nav",{login:false}) %>

    <header class="header py-160 position-relative" style="background-image: url(../assets/images/index/header.png);">
      <div class="filter position-absolute top-0 start-0 end-0 bottom-0
            ">
      </div>
      <div class="container text-center position-relative">
        <h1 class="fs-40 text-netral-50 fw-normal mb-48">
          二十四節氣中<br>
          看見你的節奏與命運
        </h1>
        <p class="fs-5 text-netral-50 mb-48">用東方智慧解讀時機，結合命理協助你的人生選擇</p>

        <button type="button" class="btn bg-netral-50 rounded-0  fs-5 py-0">
          <div class="btn-inside-border py-3">
            立即探索您專屬的服務
          </div>
        </button>
      </div>


    </header>

    <section class="py-80 service">
      <div class="container">
        <div class="d-flex align-items-end position-relative mb-40">
          <img class="position-absolute" src="../assets/images/index/title-deco.png" alt="round-deco ">
          <h2 class="ps-32 mb-0 me-12">熱門服務項目</h2>
          <p class="mb-0">命理不神秘，熱門服務助你一步步了解自己！</p>
        </div>


        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url(../assets/images/index/banner-1.png);">
              <div class=" d-flex align-items-center h-100">
                <div>
                  <h4 class="mb-4">紫微命盤精解</h4>
                  <p class="mb-4">
                    透過專業紫微斗數排盤，解析個人命格結構，了解內在性格與人生方向，幫助你在迷惘中找到清晰定位。
                  </p>
                  <button type="button" class="btn  rounded-0  fs-5 py-0 px-12 border-green-200">
                    <div class="btn-inside-border py-2 px-3 text-white  border-green-200">
                      立即預約
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-item  " style="background-image: url(../assets/images/index/banner-2.png);">
              <div class="d-flex align-items-center h-100">
                <div>
                  <h4 class="mb-4">擇日開運指南</h4>
                  <p class="mb-4">
                    無論是結婚、搬家、開業，擇日都是開啟好運的第一步。根據你的八字量身規劃黃道吉日，讓每一個開始都更順利。
                  </p>
                  <button type="button" class="btn  rounded-0  fs-5 py-0 px-12 border-green-200">
                    <div class="btn-inside-border py-2 px-3 text-white  border-green-200">
                      立即預約
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-item  " style="background-image: url(../assets/images/index/banner-3.png);">
              <div class="d-flex align-items-center h-100">
                <div>
                  <h4 class="mb-4">流年運勢分析</h4>
                  <p class="mb-4">
                    結合八字與流年運勢，深入剖析財運、
                    感情、事業等關鍵面向，掌握最佳行動時機，趨吉避凶，為人生提前佈局。
                  </p>
                  <button type="button" class="btn  rounded-0  fs-5 py-0 px-12 border-green-200">
                    <div class="btn-inside-border py-2 px-3 text-white  border-green-200">
                      立即預約
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <%- include("./layout/footer") %>





      <script type="module" src="../main.js"></script>
</body>

</html>