<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>命理知識</title>
  </head>
  <body>
    <%- include("./layout/nav",{login:false}) %>
    <header
      class="km-header-bg py-80"
      style="background-image: url(../assets/images/index/header.png)"
    >
      <div class="container text-black-800">
        <h1 class="fw-bold mb-5 lh-sm">命理知識</h1>

        <p class="fs-5 mb-3">節氣循環，不只影響四季。</p>
        <p class="fs-5 mb-3">天時流轉，也牽動命運節奏。</p>
        <p class="fs-5">一年24刻，寫下你的命理故事。</p>
      </div>
    </header>
    <%- include("./layout/footer") %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
